/*

Color palette

bright grey	#ECF0F1
dark blue 	#2B3D51
grey blue 	#52626F
red			#C33B26
green		#00BC9C

*/

body {
	font-size: 110%;
	font-family: "Lato", sans-serif;
}

a {
	text-decoration: none;
}

.page-block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.filler-20 {
	-webkit-flex: 1 20%;
	-ms-flex: 1 20%;
	flex: 1 20%;
}

.content-block {
	-webkit-flex: 3 100%;
	-ms-flex: 3 100%;
	flex: 3 100%;
}

.main-header {
	color: #ECF0F1;
	background-color: #2B3D51;
	padding: 2rem 1.5rem;
	margin-bottom: 1rem;
}

.heading-1 {
	color: #00BC9C;
	margin: 0;
	font-weight: 100;
	font-size: 300%;
}

.heading-2 {
	margin: 0;
	font-weight: 100;
	font-family: "LatoLight", "Helvetica Neue", sans-serif;
}

.scrollable-navi {
	background-color: #52626F;
	padding: 0;
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
}

.scrollable-navi a {
	color: #ECF0F1;
}

.scrollable-navi ul {
	padding: 0;
	margin: 0;
	display: inline-block;
	color: #ECF0F1;
}

.scrollable-navi li {
	list-style-type: none;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	padding: 1em 0.5em;
	text-align: center;
}

.scrollable-navi .fake-handle {
	display: none;
}

.scrollable-navi li:hover {
	background-color: #2B3D51;
}

.introduction {
	padding: 0 1rem;
	display: block;
	-webkit-column-width: 20rem;
	-moz-column-width: 20rem;
	column-width: 20rem;
	text-align: justify;
}

.palette {
	margin-top: 1rem;
}

.palette header {
	background-color: #2B3D51;
	color: #ECF0F1;
	padding: 1rem 1.5rem;
	margin-bottom: 0.5rem;
}

.palette header h3 {
	margin: 0;
	font-weight: 100;
}

.highlight-box {
	color: #ECF0F1;
	box-sizing: border-box;
}

.highlight-box .fitbox {
	height: 40vh;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
	
}

.highlight-box a {
	text-decoration: none;
	color: inherit;
}

.highlight-box img {
	box-sizing: border-box;
	display: block;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.50);
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.highlight-box .description {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1rem;
	line-height: 1.3em;
	height:100%;
	text-align: justify;
}

.highlight-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.highlight-1 {
	background-color: #C33B26;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

.highlight-2 {
	background-color: #00BC9C;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

.highlight-3 {
	background-color: #52626F;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

footer {
	margin: 2rem 0;
}