/*

Color palette

bright grey	#ECF0F1
dark blue 	#2B3D51
grey blue 	#52626F
red			#C33B26
green		#00BC9C

*/

body {
	font-size: 110%;
	font-family: "Lato";
}

#page-block {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.filler-20 {
	-webkit-flex: 1 20%;
	-ms-flex: 1 20%;
	flex: 1 20%;
}

#content-block {
	-webkit-flex: 3 100%;
	-ms-flex: 3 100%;
	flex: 3 100%;
}

#main-header {
	color: #ECF0F1;
	background-color: #2B3D51;
	padding: 2rem 1.5rem;
}

#main-header h1 {
	color: #00BC9C;
	margin: 0;
	font-weight: 100;
	font-size: 300%;
}

#main-header h2 {
	margin: 0;
	font-weight: 100;
	font-family: "LatoLight";
}

nav#top-navi {
	background-color: #52626F;
	padding: 0;
}

nav#top-navi a {
	color: #ECF0F1;
}

nav#top-navi a:hover {
	background-color: #2B3D51;
}

.palette {
	margin-top: 1rem;
}

.palette header {
	background-color: #2B3D51;
	color: #ECF0F1;
	padding: 1rem 1.5rem;
	margin-bottom: 0.5rem;
}

.palette header h3 {
	margin: 0;
	font-weight: 100;
}

.highlight-box {
	color: #ECF0F1;
	box-sizing: border-box;
}

.highlight-box .fitbox {
	height: 40vh;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
}

.highlight-box a {
	text-decoration: none;
	color: inherit;
}

.highlight-box img {
	box-sizing: border-box;
	display: block;
	padding: .5rem;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.highlight-box .description {
	background-color: rgba(255, 255, 255, 0.2);
	padding: .5rem;
	line-height: 1.3em;
	height:100%;
}

.highlight-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.highlight-1 {
	background-color: #C33B26;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

.highlight-2 {
	background-color: #00BC9C;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

.highlight-3 {
	background-color: #52626F;
	-webkit-flex: 1 100%;
	-ms-flex: 1 100%;
	flex: 1 100%;
}