.filler-20 {
	display:none;
}

.main-header {
	padding-left: 1rem;
}

.highlight-flex {
	display: block;
}

.scrollable-navi .fake-handle {
	display: inherit;
	letter-spacing: -1px;
	color: #00BC9C;
}