body {
}

#main-header {
	color: #ECF0F1;
	background-color: #2B3D51;
	padding: 2rem;
}

#main-header h1 {
	color: #00BC9C;
	margin: 0;
	font-weight: 100;
}

#main-header h2 {
	margin: 0;
	font-weight: 100;
}

nav#top-navi {
	background-color: #52626F;
}

nav#top-navi a {
	color: #ECF0F1;
}

nav#top-navi a:hover {
	background-color: #2B3D51;
}